<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>


<div id="app">
    <div v-if="books.length>0">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in books">
                <td>{{index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <!--            这里使用了过滤器-->
                <td>{{item.price | getPrice}}</td>
                <td>
                    <button @click="sub(index)" :disabled="isShow(index)">-</button>
                    {{item.count}}
                    <button @click="add(index)">+</button>
                </td>
                <td>
                    <button @click="remove(index)">移除</button>
                </td>

            </tr>
            </tbody>
        </table>
        <!--            这里使用了过滤器-->
        <p>总价格：{{totalPrice | getPrice}}</p>
    </div>
    <div v-else>购物车为空</div>

</div>
<script src="../01-Vue初体验/vue.js"></script>
<script src="main.js"></script>





</body>
</html>